@{
	ViewData["Title"] = "Purchase Order History";
  	var orders = (List < OrderHistory >) ViewData["ordersbycustomer"];
}



<head>
	<style>
		table{
			margin-left: auto;
			margin-right: auto;
			width: 80%;
            border-collapse: collapse;
            border: none;
		}

		td{
			border: none;
			font-size: 20px;
		}

        .midalign{
            float:center;
            text-align: center;
        }
	</style>
</head>


<h3> My Purchases</h3>
<br />

@if(orders==null)
{
	<h5>Your Purchase History is empty</h5>
	
}


@foreach (var cc in orders)
{
    @** display product image and description **@
    <div class="row">
        <div class="col-md-3 midalign">
            <div class="card">
                <img class="card-img-top" src=@cc.ProductImage alt="image not found" height="200" style="object-fit: contain;" title="View Product Details">
                <h5 class="card-header"><b>@cc.ProductName</b></h5>
                <div class="card-body">
                    <p class="card-text d-flex justify-content-between">
                    </p>
                    <p class="card-text font-weight-light">
                        @cc.ProductDescription
                    </p>
                    <p></p>
                </div>
                <div class="card-footer bg-transparent text-center">
                    <button type="button" class="btn btn-outline-primary" id="@cc.ProductId" value="@cc.ProductId">
                        <span class="fa-solid fa-cart-arrow-down"></span> Download
                    </button>
                </div>
            </div>
        </div>

        @** display order details**@
        <div class="col-md-6">
            <table class="table align-middle">
                <tbody>
                    <tr>
                        <td>Order Item ID:</td>
                        <td>@cc.OrderItemId
                        <td>
                    </tr>
                    <tr>
                        <td>Purchased on:</td>
                        <td>@cc.PurchaseOn</td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td>@cc.Qty</td>
                    </tr>
                    <tr>
                        <td>Activation Code:</td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                                @foreach (var ac in cc.Activation_Code)
                                {
                                    <option value="@ac">@ac</option>
                                }
                            </select>
                        </td>
                    </tr>

                    @**if not rated, display submit review button**@
                    @if (cc.Rating == null)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("CreateReview", "Product", new {OrderItemId = cc.OrderItemId, productName = cc.ProductName})" class="btn btn-primary">
                                    Submit Review
                                </a>
                            </td>
                            <td></td>
                        </tr>
                    }

                    @**if already rated, display edit review button**@
                    else
                    {
                        <tr>
                            <td>Rating:</td>
                            <td>@cc.Rating</td>
                        </tr>

                        <tr>
                            <td>

                                @**<a href="@Url.Action("CreateReview", "Product", new { OrderItemId = cc.OrderItemId, productName = cc.ProductName })" class="btn btn-outline-success">Update Review</a>**@


                                <form method="post" action="@Url.Action("CreateReview", "Product")"> 
                                    <input type="hidden" name="OrderItemId" value="@cc.OrderItemId" />
                                    <input type="hidden" name="productName" value="@cc.ProductName" />
                                    <button class="btn btn-outline-success" type="submit">Update Review</button>
                                </form>


                            </td>

                            <td></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>

    <br/>

}

</div>

