@{
	ViewData["Title"] = "Purchase Order History";
  	var orders = (List < OrderHistory >) ViewData["ordersbycustomer"];
}



<head>
	<style>
		table{
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			border-collapse: collapse;
		}

		td{
			border: none;
			font-size: 20px;
		}
	</style>
</head>

@if(orders==null)
{
	<h5>Your Purchase History is empty</h5>
	
}
@foreach (var cc in orders)
{
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center mb-3">
                <img src="@cc.ProductImage" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@cc.ProductName</h5>
                    <p class="card-text">@cc.ProductDescription</p>
                    <a href="#" class="btn btn-primary">Download</a>
                    <br>
                    <a href="@Url.Action("Index", "Product")">Leave a Review</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Purchased on:</td>
                        <td>@cc.PurchaseOn</td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td>@cc.Qty</td>
                    </tr>
                    <tr>
                        <td>Activation Code:</td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                                @foreach (var ac in cc.Activation_Code)
                                {
                                    <option value="@ac">@ac</option>
                                }
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

}

