@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var product = ViewBag.product;
    var averageRating = ViewData["avgRtg"];
    var ratingCounts = ViewData["rtgCnts"];
    var reviewDetails = (List<ProductReview>)ViewData["rvDts"];
    
}

@model Product



<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table, th, td {
            padding-top: 100px;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid white;
            border-collapse: collapse;
        }

        body {
            text-align: center;
        }

        .button-18 {
            align-items: center;
            background-color: #0A66C2;
            border: 0;
            border-radius: 100px;
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            display: inline-flex;
            font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 600;
            justify-content: center;
            line-height: 20px;
            max-width: 480px;
            min-height: 40px;
            min-width: 0px;
            overflow: hidden;
            padding: 0px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            touch-action: manipulation;
            transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;
        }

        .button-18:hover,
        .button-18:focus {
            background-color: #16437E;
            color: #ffffff;
        }

        .button-18:active {
            background: #09223b;
            color: rgb(255, 255, 255, .7);
        }

        .button-18:disabled {
            cursor: not-allowed;
            background: rgba(0, 0, 0, .08);
            color: rgba(0, 0, 0, .3);
        }
        .product-card {
            display: flex;
            align-items: center;
            padding: 20px;
        }

        .product-image {
            width: 300px;
            height: 300px;
            object-fit: cover;
            margin-right: 20px;
        }

        .product-info {
            display: flex;
            flex-direction: column;
            display: block;
        }

        .product-name {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }

        .product-description {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .product-price {
            font-size: 20px;
            font-weight: bold;
            margin-top: auto;
            margin-bottom: 0;
        }

        .product-card {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container{
            text-align: left;
        }
    </style>
</head>
<center>
    <body>

        <div class="product-card" style="padding-top: 100px">

            <img src="@product.ProductImage" alt="@product.Name" class="product-image">

            <div class="product-info" style="padding-left : 80px">
                <h3 class="product-name">@product.Name</h3>
                <p class="product-description">@product.Description</p>
                <p class="product-price">$@product.UnitPrice</p>
                </br>
                <button class="button-18" role="button">Add To Cart</button>
            </div>
        </div>

        <br />

        <div class="container">
            <h3 class="title">Product Reviews</h3>
            <br />

            <h6> Based on @ratingCounts reviews, the average rating is: </h6> <br />

            <div class="stars">
                @for (int i = 0; i < (int)averageRating; i++)
                {
                    <i class="fa fa-star checked" style="font-size:25px;color:gold;"></i>
                }
                @for (int i = (int)averageRating; i < 5; i++)
                {
                    <i class="fa fa-star checked" style="font-size:25px;color:lightgrey;"></i>
                }
            </div> <br />
            <h6> @averageRating out of 5 stars </h6>

            @*display the review details*@
            <hr style="border:1.5px solid #888888">

            <div class="ReviewDetails">
                <h4> Review Details: </h4> <br />
                @foreach (var reviewDetail in reviewDetails.Where(g => g.Rating.HasValue))
                {
                    <div>
                        <div>
                            @*display customer name*@
                            <div>
                                <h6>Customer Name: @reviewDetail.CustomerName</h6>

                                @*display invididual review star rating*@
                                <div>
                                    Rating:
                                    @for (int i = 0; i < (int)@reviewDetail.Rating; i++)
                                    {
                                        <i class="fa fa-star checked" style="font-size:15px;color:gold;"></i>
                                    }
                                    @for (int i = (int)@reviewDetail.Rating; i < 5; i++)
                                    {
                                        <i class="fa fa-star checked" style="font-size:15px;color:lightgrey;"></i>
                                    }
                                </div>
                            </div>

                            @*display individual review description*@
                            <p>Review: @reviewDetail.ReviewText</p>
                            <br />
                        </div>
                    </div>
                }
            </div>
        </div>
    </body>
</center>
</html>
