@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products;
}

@inject IHttpContextAccessor HttpContextAccessor
@section Scripts
    {
    <script src="/js/gallery.js"></script>
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="stylesheet" href="/css/gallery.css">
</head>

<body>
    <div class="container">

        <form>
            <input type="text" id="search-box" name="searchStr" onkeyup="search()" placeholder="Enter your search here...">
        </form>

        <div class="image-container" id="container">
            @foreach (Product product in products)
            {
                <div class="image" data-title="@product.Name @product.Description">
                    <img src="@product.ProductImage" alt="@product.Name">
                    <h3>@product.Name</h3>
                    <p style="text-align:left">@product.Description</p>

                    <form id="addToCartForm" method="post" action="@Url.Action("Details", "Cart")">
                        <input type="hidden" id="productId" name="productId" value="" />
                        <input type="hidden" id="quantity" name="quantity" value="1" />

                        <button class="button" type="submit" onclick="event.preventDefault(); addToCart();">$@product.UnitPrice - Add to Cart</button>
                    </form>


                </div>
            }
        </div>
    </div>

</body>

<script>
    /*function addToCart() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetCartCount", "Cart")",
            success: function (data) {
                $("#cartCount").html(data);
            }
        });
    }*/
</script>