@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products;
}

@section Scripts
    {
    <script src="/js/gallery.js"></script>
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="stylesheet" href="/css/gallery.css">
</head>

<body>
    <div class="container">
        <form>
            <input type="text" id="search-box" name="searchStr" onkeyup="search()" placeholder="Enter your search here...">
        </form>

        <div class="image-container" id="container">
            @foreach (Product product in products)
            {
                <div class="image" data-title="@product.Name @product.Description">
                    <img src="@product.ProductImage" alt="@product.Name">
                    <h3>@product.Name</h3>
                    <p style="text-align:left">@product.Description</p>
                    <form id="addToCartForm-@product.ProductId" method="post" action="@Url.Action("Details", "Cart")">
                        <button class="button" type="button" onclick="addToCart(@product.ProductId)">$@product.UnitPrice - Add to Cart</button>
                        <input type="hidden" name="productId" value="@product.ProductId" />
                        <input type="number" id="quantity-@product.ProductId" name="quantity" value="1" style="display: none;" />
                    </form>
                </div>
            }
        </div>
    </div>

</body>