@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products;
}

@section Scripts
    {
    <script src="/js/gallery.js"></script>
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <form>
            <input type="text" id="search-box" name="searchStr" onkeyup="search()" placeholder="Enter your search here...">
        </form>

        @*product gallery container*@
        <div class="image-container" id="container">
            @foreach (Product product in products)
            {
                @*each product namecard*@
                <div class="image" data-title="@product.Name @product.Description">
                    @*basic info*@
					<a href="/Product/Product?Id=@product.ProductId" title="See product details">
						<img src="@product.ProductImage" alt="@product.Name">
					</a>
                    <h3>@product.Name</h3>
                    <p style="text-align:left">@product.Description</p>


                    @*display rating*@
                    <div class="stars" style="padding-bottom: 10px;">
                        @for (int i = 0; i < product.AverageRating; i++)
                        {
                            <i class="fa fa-star checked" style="font-size:18px;color:gold;"></i>
                        }
                        @for (int i = product.AverageRating; i < 5; i++)
                        {
                            <i class="fa fa-star checked" style="font-size:18px;color:lightgrey"></i>
                        }
                        <a href="/Product/Product?Id=@product.ProductId" style="color:gray; font-size: 14px; text-decoration: none;" title="See reviews">
                            (@product.ReviewCount)
                        </a>
                    </div>

                    @*add-to-cart button*@
                    <form id="addToCartForm-@product.ProductId" method="post" action="@Url.Action("Details", "Cart")">
                        <button class="button" type="button" onclick="addToCart(@product.ProductId)">$@product.UnitPrice - Add to Cart</button>

                        <input type="hidden" name="productId" value="@product.ProductId" />
                        <input type="number" id="quantity-@product.ProductId" name="quantity" value="1" style="display: none;" />
                    </form>
                </div>
                
            }
        </div>
    </div>

</body>
