@{
    ViewData["Title"] = "Home Page";
    var products = ViewBag.products;
}
@section Scripts
{
    <script src="/js/search.js"></script>
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="stylesheet" href="/css/galleryStyle.css">
</head>

<body>
    <div class="container">
        <form>
            <input type="text" id="search-box" name="searchStr" onkeyup="search()" placeholder="Enter your search here...">
        </form>

        <div class="image-container" id="container">
            @foreach (Product product in products)
            {
                <div class="image" data-title="@product.Name @product.Description">
                    <img src="/images/testimg.png" alt="@product.Name">
                    <h3>@product.Name</h3>
                    <p style="text-align:left">@product.Description</p>
                    <button class="button">$@product.UnitPrice - Add To Cart</button>
                </div>
            }
        </div>
    </div>
</body>
